.hasil-sorting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hasil-sorting-content {
    padding: 24px;
    width: 80%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.hasil-sorting-img {
    width: 200px;
    height: auto;
}

.hasil-sorting-pagination {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    margin-top: 40px;
}