/* Set font family */
body {
  font-family: Arial, sans-serif;
}

/* Style for the header */
header {
  background-color: #bdb76b;
  padding: 10px;
  color: white;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
}

nav {
  flex-basis: 45%;
}

div {
  flex-basis: 45%;
}

/* Style for the article headings */
article h2 {
  margin-top: 0;
}

/* Style for the article images */
article img {
  width: 100%;
  margin-bottom: 10px;
}

/* Style for the article paragraphs */
article p {
  line-height: 1.5;
}

.nav-link {
  background-color: #bdb76b;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}
.nav-link:hover {
  color: #ffffff;
}

.nav-link:hover {
  background-color: #68653b;
  cursor: pointer;
}

/* Style for the footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
